<div class="page">
    <div class="fields">
        <div class="fieldsContain">
            <div class="text">
                <h1>WELCOME</h1>
                <h2>Please Create an Account</h2>
            </div>
            <input type="text" class="field" [(ngModel)]="loginUser" placeholder="User">
            <input type="password" class="field" [(ngModel)]="passwordUser" placeholder="Password">
            <input type="password" class="field" [(ngModel)]="passwordUserConfirmation" (keydown.enter)="signIn()" placeholder="Confirm Password">
            <h3 *ngIf="errorMessage"> {{ errorMessage }} </h3>
            <div class="onSameLine">
                <button (click)="signIn()">Sign In</button>
                <button (click)="navigateToLogin()">I have an account</button>    
            </div>
        </div>
    </div>
</div>