@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:host {
    --myBlack: #182628;
    --myWhite: #fff;
    --myGrey: #E3E3E3;
    --myGreen: #57BA98;
    --myGreen2: #73ccad;
    --myRed: #f51b1b;
    --myBlue: #015cc4;
    --myBlue2: #236dc1 ;
    --myBlue3: #6894c7 ;
    --font1: "Jost", sans-serif;
}

.page {
    display: flex; 
    position: relative;
    align-items: center;  
    height: 100vh;
    background-color: var(--myGrey);
}

.background img {
    width: 100%;  
    height: 100%; 
    opacity: 0.5;
    object-fit: cover;
}

.fields {
    border-radius: 20px;
    z-index: 10002;
    padding: 30px 100px;
    box-sizing: border-box;
    border : 2px solid var(--myWhite);
    max-height: 90vh;
    min-width: 400px;
    min-height: 200px;
}

.fieldsContain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-right: 10px; /* to move the scrollbar */
    min-height: 120px;
}

.bottomFields {
    margin-top: 30px;
    font-style: italic;
}

.text {
    margin-bottom: 15px;
}

.fields h1 {
    font-size: 30px;
    font-family: var(--font1);
    text-align: center;
    color: var(--myWhite);
    font-weight: 500;
}
.fields h2 {
    font-size: 20px;
    font-family: var(--font1);
    text-align: center;
    color: var(--myWhite);
    font-weight: 400;
}
.fields h3 {
    font-size: 12px;
    font-family: var(--font1);
    text-align: center;
    color: var(--myRed);
    font-weight: 500;
}
.fields h4 {
    font-size: 16px;
    font-family: var(--font1);
    text-align: center;
    color: var(--myGrey);
    font-weight: 500;
}
.fields h5 {
    font-size: 12px;
    font-family: var(--font1);
    text-align: center;
    color: var(--myBlue);
    font-weight: 500;
}
.fields p {
    font-size: 12px;
    font-family: var(--font1);
    text-align: center;
    color: var(--myWhite);
    font-style: italic;
}
.fields a {
    color: var(--myBlue);
}

.fields input {
    width: 180px;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: var(--font1);
}
.fields textarea {
    width: 100%;
    font-size: 14px;
    font-family: var(--font1);
}

.fields button {
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 20px;
    background-color: var(--myWhite);
    color: var(--myBlack);
    border: none;
    padding: 5px 10px;
    font-size: 12px;
}

.fields button:hover {
    background-color: var(--myBlack);
    color: var(--myWhite);
    cursor: pointer;
}

.field {
    margin-bottom: 15px;
    background-color: var(--myWhite);
    color: var(--myBlack);
    border-radius: 7px;
    border-color: var(--myWhite);
}

input:focus{
    outline: 2px solid var(--myWhite);
    border-color: var(--myGrey);
    border-width: 3px;
}

textarea:focus{
    outline: 2px solid var(--myWhite);
    border-color: var(--myGrey);
    border-width: 3px;
}

.addTextOrDocument {
    margin-bottom: 40px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.listOfTextsOrDocuments {
    margin-top: 20px;
}

.displayResults {
    display: flex;
    flex-direction: column;
}

.onSameLine {
    display: flex;
    flex-direction: row;
}

.decryptedText {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.downloadLink {
    margin-top: 12px;
    text-align: center;
}

/* For mobile screens */
@media only screen and (max-width: 768px) {

    .fields {
        padding: 20px 10px;
        max-width: 90vw;
        min-width: auto;
    }

    .fieldsContain {
        max-height: calc(90vh - 20px);
    }

    .fields p {
        font-size: 20px;
    }

    .fields input {
        font-size: 10px;
    }

    .fields button {
        margin-right: 0;
        margin-bottom: 10px;
        padding: 6px 12px;
        font-size: 10px;
    }

    .field {
        width: 80vw;
    }
}
