<header>
    <div class="title">
        <div></div>
        <h1>YOUR DOCUMENTS</h1>
        <div class="titleRightPart">
            <h4>User connected :</h4>
            <h4>&nbsp;{{ currentUser }}</h4>
        </div>
    </div>
    <div class="head-grid">
        <div class="button-container">
            <div>
                <button (click)="navigateToHomepage()">ADD DOCUMENTS</button>
                <button (click)="navigateToVisualiseData()">YOUR DOCUMENTS</button>
                <button (click)="navigateToVisualizeSharedData()">DOCUMENTS SHARED WITH YOU</button>
                <button (click)="navigateToShareData()">SHARE YOUR DATA</button>
            </div>
            <button (click)="navigateToLogin()">Sign Out</button>
        </div>
    </div>
</header>

<div class="page">
    <div class="fields fieldsColor1">
        <h1>Encrypted Texts</h1>
        <p>Click on a text to decrypt it</p>
        <div class="fieldsContain fieldsContainColor1">
            <div class="addTextOrDocument">
                <div class="listOfTextsOrDocuments">
                    <div *ngFor="let text of allTexts">
                        <div (click)="onTextClick(text)">
                            <p>- - - - - - - - - - - - - - - - - - -</p>
                            <h2>{{ text || 'No text' }}</h2>
                        </div>
                    </div>
                    <p>- - - - - - - - - - - - - - - - - - -</p>
                </div>
            </div>
        </div>
    </div>
    <div class="fields fieldsColor2">
        <h1>Decryption</h1>
        <p>Click on a text or a document to decrypt it</p>
        <div class="fieldsContain fieldsContainColor2">
            <div class="addTextOrDocument">
                <div class="decryptedText">
                    <h5 *ngIf="waitingMessage">{{waitingMessage}}</h5>
                    <h2 *ngIf="decryptedDataTextAES">Text "{{textSelected}}" AES decryption :</h2>
                    <h4 *ngIf="decryptedDataTextAES">{{decryptedDataTextAES}} </h4>
                    <h2 *ngIf="decryptedDataTextRC4">Text "{{textSelected}}" RC4 decryption :</h2>
                    <h4 *ngIf="decryptedDataTextRC4">{{decryptedDataTextRC4}} </h4>
                    <h2 *ngIf="decryptedDataTextDES">Text "{{textSelected}}" DES decryption :</h2>
                    <h4 *ngIf="decryptedDataTextDES">{{decryptedDataTextDES}} </h4>
                    <div *ngIf="decryptedDataFileAES" class="downloadLink">
                        <h4>Decrypted File AES :</h4>
                        <a [href]="decryptedDataFileAES" [download]="fileName">AES_{{fileName}}</a>
                    </div>
                    <div *ngIf="decryptedDataFileRC4" class="downloadLink">
                        <h4>Decrypted File RC4 :</h4>
                        <a [href]="decryptedDataFileRC4" [download]="fileName">RC4_{{fileName}}</a>
                    </div>
                    <div *ngIf="decryptedDataFileDES" class="downloadLink">
                        <h4>Decrypted File DES :</h4>
                        <a [href]="decryptedDataFileDES" [download]="fileName">DES_{{fileName}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fields fieldsColor1">
        <h1>Encrypted Documents</h1>
        <p>Click on a document to decrypt it</p>
        <div class="fieldsContain fieldsContainColor1">
            <div class="addTextOrDocument">
                <div class="listOfTextsOrDocuments">
                    <div *ngFor="let file of allFiles">
                        <div (click)="onFileClick(file)">
                            <p>- - - - - - - - - - - - - - - - - - -</p>
                            <h2>{{ file || 'No file' }}</h2>
                        </div>
                    </div>
                </div>
                <p>- - - - - - - - - - - - - - - - - - -</p>
            </div>
        </div>
    </div>
</div>