<div class="container">
    <h2>Cryptage et Décryptage de Fichiers</h2>
  
    <input type="file" (change)="onFileSelected($event)" accept="video/*, .txt, .pdf" />
    
    <!-- Section pour le décryptage des vidéos -->
    <button (click)="decryptVideo()" [disabled]="!encryptedVideo">Décrypter la Vidéo</button>
    <div *ngIf="downloadLink">
      <h3>Vidéo Décryptée :</h3>
      <a [href]="downloadLink" download="decrypted-video.mp4">Télécharger la Vidéo Décryptée</a>
    </div>
    
    <!-- Section pour le décryptage des fichiers texte ou PDF -->
    <button (click)="decryptFile()" [disabled]="!encryptedFile">Décrypter le Fichier</button>
    <div *ngIf="fileDownloadLink">
      <h3>Fichier Décrypté :</h3>
      <a [href]="fileDownloadLink" [download]="fileName">Télécharger le Fichier Décrypté</a>
    </div>
  </div>
  
  <!-- <div class="uploadDocument">
    <h3>Image (png/jpeg format)</h3>
    <input type="file" (change)="onSelectedDataImage($event)" accept="image/png">
    <button (click)="decryptDataImage()" [disabled]="!encryptedDataImageAES">Decrypt Image</button>
</div>
<div class="uploadDocument">
    <h3>File (PDF/DOC/XLS format)</h3>
    <input type="file" (change)="onSelectedDataDocument($event)" accept="application/octet-stream">
    <button (click)="decryptDataDocument()" [disabled]="!encryptedDataDocumentAES">Decrypt Document</button>
</div>
<div class="uploadDocument">
    <h3>Video (mp4 format)</h3>
    <input type="file" (change)="onSelectedDataVideo($event)" accept="video/mp4">
    <button (click)="decryptDataVideo()" [disabled]="!encryptedDataVideoAES">Decrypt Video</button>
</div> -->

<!-- <div class="displayResults">
  <h3>Chiffrer et déchiffrer une vidéo</h3>
  <input type="file" (change)="onSelectedData($event)" accept="video/mp4">
  
  <button (click)="decryptData()" [disabled]="!encryptedData">Déchiffrer la vidéo</button>

  <a *ngIf="encryptedDataTextAES">Text AES encoded : {{encryptedDataTextAES}} </a>
  <a *ngIf="encryptedDataTextRC4">Text RC4 encoded : {{encryptedDataTextRC4}} </a>
  <a *ngIf="encryptedDataTextDES">Text DES encoded : {{encryptedDataTextDES}} </a>
  <a *ngIf="decryptedDataTextAES">Text AES decoded : {{decryptedDataTextAES}} </a>
  <a *ngIf="decryptedDataTextRC4">Text RC4 decoded : {{decryptedDataTextRC4}} </a>
  <a *ngIf="decryptedDataTextDES">Text DES decoded : {{decryptedDataTextDES}} </a>
  <img *ngIf="decryptedDataURLImage" [src]="decryptedDataURLImage" alt="Decrypted Image" />
  <a *ngIf="decryptedDataURLDocument" [href]="decryptedDataURLDocument" download="decrypted_document">Download decrypted document</a>
  <video *ngIf="decryptedDataURLVideo" controls [src]="decryptedDataURLVideo" width="600"></video>
</div> -->